// .bd-placeholder-img {
//   background: url(https://images.pexels.com/photos/161154/stained-glass-spiral-circle-pattern-161154.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center center fixed; 
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }

.bd-placeholder-img-1 {
  background: url(https://images.pexels.com/photos/3093901/pexels-photo-3093901.jpeg?auto=compress&cs=tinysrgb&dpr=1) no-repeat center center fixed;
  background-size: cover;
}

.bd-placeholder-img-2 {
  background: url(https://images.pexels.com/photos/952437/pexels-photo-952437.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650) no-repeat center center fixed;
  background-size: cover;
}

.bd-placeholder-img-3 {
  background: url(https://images.pexels.com/photos/207896/pexels-photo-207896.jpeg?auto=compress&cs=tinysrgb&dpr=1) no-repeat center center fixed;
  background-size: cover;
}